// Screen sizes

$mq-mobile: 425px;
$mq-tablet: 768px;
$mq-laptop: 1024px;
$mq-desktop: 1440px;

// Typography

$font-primary: 'Inter', sans-serif;

$pad: 16px;
$space: 24px;

$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 42px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$border-radius-square: 50%;
$border-radius-large: 64px;
$border-radius-medium: 56px;

$header-height: 80px;

$page-width-laptop: 1104px;
$page-title-margin: 105px;

$round-button-m: 60px;
$round-button-l: 96px;

$form-input-height: 88px;
$form-input-padding: 30px;

$modal-width-laptop: 800px;

$job-card-width: 304px;
$job-card-height: 356px;

$job-cart-content-height: 248px;

// Colors

$color-black-base: #000000;

$color-white-base: #ffffff;

$color-yellow-light: #e2e48b;
$color-yellow-base: #faff00;
$color-yellow-dark: #3f4000;

$color-grey-lighter: #e9e9e9;
$color-grey-light: #cbcbcb;
$color-grey-base: #4e4e4e;
$color-grey-dark: #14161e;
$color-grey-darker: #1c1c1c;

$color-red-base: #ff4869;
$color-red-dark: #94331d;

$color-green-base: #72ff5ba8;

$color-bg-primary: #191919;
